@model IEnumerable<Week8Lab.Reddit.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{

}
<div class="Up" data-postId="postId">
UP
</div>

<div class="Down" data-postId="postId">
DOWN
</div>

<script>

    $('Up') .click(function(){ var postId = $(this).data('id');
        $.ajax('/Up' data:{ postId: postId});

</script>
<script>

    $('Down') .click(function(){ var postId = $(this).data('id');
        $.ajax('/Up' data:{ postId: postId});

</script>
}


