@model IEnumerable<Week8Lab.Reddit.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="Up" data-postId="postId">
UP
</div>

<div class="Down" data-postId="postId">
DOWN
</div>

}


